extends layout
block content
  div(class="row", style="margin-top:15px;")

  div(class="row text-center text-lg-left", style="margin-top:30px;")
    div(class="well well-sm  col-sm-3 ")
      h5
        span(class="glyphicon glyphicon-usd", style="margin-right:2pt;")
        | Price
      p
        span(id="price-btc")
        | ₿ &nbsp;&verbar;&nbsp;
        span(id="price-usd")
        | $
    div(class="well well-sm  col-sm-3 col-sm-offset-1")
      h5
        span(class="glyphicon glyphicon-record", style="margin-right:2pt;")
        | Difficulty
      p  #{(diff/1e12).toFixed(2)}TH
    div(class="well well-sm  col-sm-3  col-sm-offset-1")
      h5
        span(class="glyphicon glyphicon-flash", style="margin-right:2pt;")
        | Hashrate
      p  #{(diff/15/1e9).toFixed(2)}G -> #{(diff/13/1e9).toFixed(2)}G

  h3 Recent blocks

  table.table(class='table-responsive table-striped')
    thead
      tr
        th Number
        th Miner
        th Time
        th # Tx
        th # Uncles
    tbody
      for block in blocks
        tr
          td
            a(href="/block/" + block.number) #{block.number}
          td
            a(href="/account/" + block.author)
              - var dataURL = blockies.createDataURL({ seed: block.author})
              img(src=dataURL,class="img-rounded space-right")
              |#{nameformatter.format(block.author)}
          - var duration = moment().diff(moment.unix(block.timestamp), 'seconds');
          if duration < 50
            td #{duration} seconds ago
          else
            td #{moment.unix(block.timestamp).fromNow()}
          td #{block.transactions.length}
          td #{block.uncles.length}
  h3 Recent Transactions
  if txs.length === 0
    p No transactions during the last 10 blocks
  else
    table.table(class='table-responsive table-striped')
      thead
        tr
          th Hash
          th From
          th To
          th Amount
      tbody
        for tx in txs
          tr
            td
              a(href="/tx/" + tx.hash) #{tx.hash.substr(0,10)}...
            td
              a(href="/account/" + tx.from)
                - var dataURL = blockies.createDataURL({ seed: tx.from })
                img(src=dataURL,class="img-rounded space-right")
                |#{nameformatter.format(tx.from)}
            td
              if tx.to
                a(href="/account/" + tx.to)
                  - var dataURL = blockies.createDataURL({ seed: tx.to })
                  img(src=dataURL,class="img-rounded space-right")
                  | #{nameformatter.format(tx.to)}
              else
                | New Contract
            td #{ethformatter(tx.value)}
